<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: rgb(36,0,0);
background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(121,9,29,1) 50%, rgba(255,0,127,1) 100%);
        }
    </style>
</head>
<body>
    <h1 class="text-center text-white mx-auto my-auto">Welcome to the shopping world</h1>
</body>
</html>